/* general */
/* BASE.CSS, FONTS.CSS, HELPERS.CSS | HEADER.CSS, FOOTER.CSS, ABOUT.CSS */

@import './base/base.css';
@import './fonts/fonts.css';
@import './helpers/helpers.css';
@import './header/header.css';
/* @import './footer/footer.css'; */
@import './pages/about.css';
@import './pages/home-page.css';
@import './apps/mister-email/main-email.css';
@import './apps/miss-keep/main-keep.css';



/* ------------------------------------------ */
/* * COLORS */ 
/* background-color: #FFFFFF;
background-color: #FFF8E8;
background-color: #FCD581;
background-color: #D52941;
background-color: #2C1320; screem-purple
background-color: #990D35; */
/* -------------------------------------------- */
/* APPS */
/* IMPORT MAIL-MAIN KEEP-MAIN BOOKS-MAIN */

