
/* HELPERS */
.container{
    max-width: 900px;
    margin: 0 auto;
}
.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}
.flex.space-around {
    justify-content: space-around;
}

.flex.align-center {
    align-items: center;
}

.flex.justify-start{
    justify-content: flex-start;
}
.flex.justify-center{
    justify-content: center;
}
.flex-c{
    display: flex;
    flex-direction: column;
}
.flex-c.justify-start{
    justify-content: flex-start;
}
.flex-c.space-between{
    justify-content:space-between;
}
.flex-c.space-around{
    justify-content:space-around;
}
.clean-btn{
    font-family: comBold, sans-serif;
    border-radius: 50%;
    border-radius: 50%;
    outline-style: none;
    border: 5px solid #1B4e5f;
    transition-duration: .5s;
    background-color: #fff;
    box-shadow: 0px 0px 10px 10px #52fefe, 0px 0px 20px 20px #52fefe inset;
}
.clean-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: .3s;
    box-shadow: 0px 0px 15px 15px #52fefe, 0px 0px 20px 20px #52fefe inset;
}
.clean-input{
    outline: none;
    border-radius: 10px;
    font-family: comReg;
    background-color: #FFF8E8;
    margin-bottom: 10px;
    padding: 2px;
    color: #990D35;
}

