.email-compose form{
 /* justify-self: left; */
 text-align: start;
 padding: 10px;
}
.new-mail-content{
  background-color: #FFF8E8;
  width: 700px;
  /* position: relative; */
  
}
.email-compose h1 {
  background-color:rgb(50, 50, 50);
  color: #FFF8E8;
  margin: 0;
  padding: 10px;
}
.new-mail-content input {
 border: none;
 background-color: #FFF8E8;
}
.new-mail-content textarea {
  border: none;
  outline: none;
 background-color: #FFF8E8;
}
.new-mail-content .compose-email, .new-mail-content .compose-subject{
  outline: none;
  width: 600px;
  
  font-size: 1.5rem;
}

.new-mail-content .compose-body{
  width: 700px;
  height: 200px;
}
