.email-details{
    text-align: start;
    background: #ffffbc;
}
/* .detail-header{
    display: flex;
} */
.detail-from{
    display: inline-block;
}
.detail-btn{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.detail-sender p:not(:last-child){
    margin-right: 10px;

}
