@import './note-color.css';

.note-edit {
    padding-top: 1rem;
    justify-content: flex-end;
}
.note-edit svg{
    fill: rgb(50, 50, 50);
    width: 25px;
    cursor: pointer;
    transition: 100ms ease-in-out;
}

.note-edit svg:hover {
    transform: scale(1.05);
    background-color: rgba(189, 189, 189, 0.438);
    border-radius: 20%;
}

.note-edit svg.pinned{
    fill:red;
    /* stroke:red; */
}