.notes-list{
    flex-wrap: wrap; 
}
.note-container{
    width: max-content;
    margin-block-end: 10px;
    height: 100%;
    border: 2px solid black;
    background-color: #FFF8E8;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 3px rgb(75, 69, 69);
}
.note-container h2{
margin-top: 0;
}
