/* BASE */
* {
    box-sizing: border-box;
}

html {
    font-family: comReg, sans-serif;
    color: rgb(50, 50, 50);
   
}

a {
    text-decoration: none;
    color: #551A8B;
}

body {
    /* height: 100vh;
    width: 100vw; */
    margin: 0;
    line-height: 1.5;
    background-color: #990D35;
    text-align: center;
    font-size: 1rem;
    /* background-image: url('../../assets/img/home-page-iron-3.jpg'); */
    /* letter-spacing:0.48; */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    
}